In [10]:
# Yahoo Finance에서 주가 데이터를 가져오는 파이썬 라이브러리 설치
!pip install yfinance

In [1]:
import yfinance as yf # Yahoo Finance 주가 데이터
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [8]:
naver_df = yf.download('035420.KS','2023-06-01','2024-05-28') # 네이버
naver_df = naver_df.dropna().reset_index() # 결측값 제거 후 인덱스 재설정
naver_df.to_csv('naver_stock_data.csv', index=False)

[*********************100%%**********************]  1 of 1 completed

In [5]:
hybe_df = yf.download('352820.KS','2023-06-01','2024-05-28') # 하이브
hybe_df = hybe_df.dropna().reset_index() # 결측값 제거 후 인덱스 재설정
hybe_df.to_csv('hybe_stock_data.csv', index=False)

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,UpDown
0,2023-06-01,274000.0,283000.0,272500.0,277500.0,277500.0,273680,0
1,2023-06-02,276000.0,278000.0,263500.0,270000.0,270000.0,448545,0
2,2023-06-05,270000.0,271000.0,264000.0,265000.0,265000.0,165535,0
3,2023-06-07,265000.0,272000.0,265000.0,269000.0,269000.0,174858,1
4,2023-06-08,267500.0,271000.0,265000.0,268000.0,268000.0,151260,0
...,...,...,...,...,...,...,...,...
236,2024-05-21,190300.0,191200.0,187900.0,188000.0,188000.0,264225,0
237,2024-05-22,187500.0,189500.0,186600.0,186800.0,186800.0,210132,0
238,2024-05-23,186500.0,201500.0,185700.0,198100.0,198100.0,662370,1
239,2024-05-24,198100.0,203000.0,196900.0,200500.0,200500.0,361727,1
240,2024-05-27,204500.0,208500.0,202000.0,203500.0,203500.0,422906,1

In [3]:
# # updown 컬럼 생성
# naver_df['UpDown'] = (naver_df['Close'] > naver_df['Close'].shift(1)).astype(int)
# naver_df

In [ ]:
# # updown 컬럼 생성
# hybe_df['UpDown'] = (hybe_df['Close'] > hybe_df['Close'].shift(1)).astype(int)
# hybe_df

In [ ]:
# hybe_df['Date', 'Close', 'UpDown']